![Two data scientists working on a dashboard.](hr-image-small.png)

A common problem when creating models to generate business value from data is that the datasets can be so large that it can take days for the model to generate predictions. Ensuring that your dataset is stored as efficiently as possible is crucial for allowing these models to run on a more reasonable timescale without having to reduce the size of the dataset.

You've been hired by a major online data science training provider called *Training Data Ltd.* to clean up one of their largest customer datasets. This dataset will eventually be used to predict whether their students are looking for a new job or not, information that they will then use to direct them to prospective recruiters.

You've been given access to `customer_train.csv`, which is a subset of their entire customer dataset, so you can create a proof-of-concept of a much more efficient storage solution. The dataset contains anonymized student information, and whether they were looking for a new job or not during training:

| Column                   | Description                                                                      |
|------------------------- |--------------------------------------------------------------------------------- |
| `student_id`             | A unique ID for each student.                                                    |
| `city`                   | A code for the city the student lives in.                                        |
| `city_development_index` | A scaled development index for the city.                                         |
| `gender`                 | The student's gender.                                                            |
| `relevant_experience`    | An indicator of the student's work relevant experience.                          |
| `enrolled_university`    | The type of university course enrolled in (if any).                              |
| `education_level`        | The student's education level.                                                   |
| `major_discipline`       | The educational discipline of the student.                                       |
| `experience`             | The student's total work experience (in years).                                  |
| `company_size`           | The number of employees at the student's current employer.                       |
| `company_type`           | The type of company employing the student.                                       |
| `last_new_job`           | The number of years between the student's current and previous jobs.             |
| `training_hours`         | The number of hours of training completed.                                       |
| `job_change`             | An indicator of whether the student is looking for a new job (`1`) or not (`0`). |

In [408]:
# Import necessary libraries
import pandas as pd
import numpy as np
# Load the dataset
ds_jobs = pd.read_csv("customer_train.csv")

# View the dataset
ds_jobs.head()

   student_id      city  ...  training_hours job_change
0        8949  city_103  ...              36        1.0
1       29725   city_40  ...              47        0.0
2       11561   city_21  ...              83        0.0
3       33241  city_115  ...              52        1.0
4         666  city_162  ...               8        0.0

[5 rows x 14 columns]

In [409]:
# Create a copy of ds_jobs for transforming
ds_jobs_transformed = ds_jobs.copy()

# Start coding here. Use as many cells as you like!

In [410]:
ds_jobs_transformed.dtypes

student_id                  int64
city                       object
city_development_index    float64
gender                     object
relevant_experience        object
enrolled_university        object
education_level            object
major_discipline           object
experience                 object
company_size               object
company_type               object
last_new_job               object
training_hours              int64
job_change                float64
dtype: object

In [411]:
ds_jobs_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              19158 non-null  int64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevant_experience     19158 non-null  object
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int64
 13  job_change              19158 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 2.0+ MB

In [412]:
ds_jobs_transformed.isna().sum()

student_id                   0
city                         0
city_development_index       0
gender                    4508
relevant_experience          0
enrolled_university        386
education_level            460
major_discipline          2813
experience                  65
company_size              5938
company_type              6140
last_new_job               423
training_hours               0
job_change                   0
dtype: int64

In [413]:
ds_jobs_transformed.size * 0.05

13410.6

In [414]:
ds_jobs_transformed.dropna(inplace = True)

In [415]:
ds_jobs_transformed.isna().sum()

student_id                0
city                      0
city_development_index    0
gender                    0
relevant_experience       0
enrolled_university       0
education_level           0
major_discipline          0
experience                0
company_size              0
company_type              0
last_new_job              0
training_hours            0
job_change                0
dtype: int64

In [416]:
ds_jobs_transformed['experience'].value_counts()

>20    1881
5       575
10      551
6       535
9       533
7       485
4       480
3       428
8       398
15      398
11      372
14      333
16      304
2       297
12      293
13      235
17      206
19      179
18      168
1       121
<1       97
20       86
Name: experience, dtype: int64

In [417]:
ds_jobs_transformed['company_size'].value_counts()

50-99        1986
100-499      1814
10000+       1449
10-49         951
1000-4999     930
<10           840
500-999       592
5000-9999     393
Name: company_size, dtype: int64

In [418]:
ds_jobs_transformed.size

125370

In [419]:
ds_jobs_transformed = ds_jobs_transformed.loc[(ds_jobs_transformed['company_size'].isin(['1000-4999', '5000-9999', '10000+']) &(ds_jobs_transformed['experience'].isin(['10','11','12','13','14','15','16','17','18','19','20','>20'])))]

In [420]:
ds_jobs_transformed.size

23716

In [421]:
def int32_transform(df, col):
    df[col] = df[col].astype(np.int32)
    return print('the series has been transformed into INT32')

In [422]:
def float16_transform(df, col):
    df[col] = df[col].astype(np.float16)
    return print('the series has been transformed into FLOAT16')

In [423]:
int32_transform(ds_jobs_transformed, 'student_id')
int32_transform(ds_jobs_transformed,'training_hours')

the series has been transformed into INT32
the series has been transformed into INT32

In [424]:
float16_transform(ds_jobs_transformed, 'city_development_index')

the series has been transformed into FLOAT16

In [425]:
ds_jobs_transformed.dtypes

student_id                  int32
city                       object
city_development_index    float16
gender                     object
relevant_experience        object
enrolled_university        object
education_level            object
major_discipline           object
experience                 object
company_size               object
company_type               object
last_new_job               object
training_hours              int32
job_change                float64
dtype: object

Check the kind of every series, if has two values, it'll transform into a boolean and if the series has a order, ten will be cataloged as ordered category.

In [426]:
ds_jobs_transformed['city'].value_counts()

city_103    663
city_16     174
city_114    125
city_21     110
city_160     56
           ...
city_115      1
city_12       1
city_27       1
city_167      1
city_134      1
Name: city, Length: 74, dtype: int64

This is a ordered series.

In [427]:
ds_jobs_transformed['relevant_experience'].value_counts()

Has relevant experience    1492
No relevant experience      202
Name: relevant_experience, dtype: int64

Boolean series.

In [428]:
ds_jobs_transformed['enrolled_university'].value_counts()

no_enrollment       1543
Full time course      79
Part time course      72
Name: enrolled_university, dtype: int64

This a normal category

In [429]:
ds_jobs_transformed['education_level'].value_counts()

Graduate    1021
Masters      590
Phd           83
Name: education_level, dtype: int64

Ordered category

In [430]:
ds_jobs_transformed['major_discipline'].value_counts()

STEM               1532
Humanities           62
Business Degree      39
Other                28
No Major             21
Arts                 12
Name: major_discipline, dtype: int64

In [431]:
ds_jobs_transformed['company_type'].value_counts()

Pvt Ltd          1433
Public Sector     167
NGO                77
Other              17
Name: company_type, dtype: int64

In [432]:
ds_jobs_transformed['last_new_job'].value_counts()

>4       682
1        454
2        253
4        131
3        117
never     57
Name: last_new_job, dtype: int64

In [433]:
dict_new_job = {'never':0}
ds_jobs_transformed['last_new_job'] = ds_jobs_transformed['last_new_job'].replace(dict_new_job)

In [434]:
ds_jobs_transformed['last_new_job'].value_counts()

>4    682
1     454
2     253
4     131
3     117
0      57
Name: last_new_job, dtype: int64

In [435]:
ds_jobs_transformed['job_change'].value_counts()

0.0    1484
1.0     210
Name: job_change, dtype: int64

This is a ordered Series.

In [436]:
def boolean_transformn( df, col, word):
    df[col] = np.where(df[col].str.contains(word, regex = False), True, False)
    return print('the series has been transformed into BOOLEAN')

In [437]:
ds_jobs_transformed['job_change'] = ds_jobs_transformed['job_change'].astype(str)

In [438]:
boolean_transformn(ds_jobs_transformed, 'relevant_experience', 'Has relevant experience')
boolean_transformn(ds_jobs_transformed, 'job_change', '1')

the series has been transformed into BOOLEAN
the series has been transformed into BOOLEAN

In [439]:
ds_jobs_transformed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1694 entries, 12 to 19143
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              1694 non-null   int32
 1   city                    1694 non-null   object
 2   city_development_index  1694 non-null   float16
 3   gender                  1694 non-null   object
 4   relevant_experience     1694 non-null   bool
 5   enrolled_university     1694 non-null   object
 6   education_level         1694 non-null   object
 7   major_discipline        1694 non-null   object
 8   experience              1694 non-null   object
 9   company_size            1694 non-null   object
 10  company_type            1694 non-null   object
 11  last_new_job            1694 non-null   object
 12  training_hours          1694 non-null   int32
 13  job_change              1694 non-null   bool
dtypes: bool(2), float16(1), int32(2), object(9)
memory usage: 152.2+ KB

In [440]:
def cat_t(df, col):
    df[col] = df[col].astype('category')
    return print('the series has been transformed into CATEGORY')

In [441]:
i_cat = ['major_discipline','company_type', 'gender']

In [442]:
for i in i_cat:
    cat_t(ds_jobs_transformed, i)

the series has been transformed into CATEGORY
the series has been transformed into CATEGORY
the series has been transformed into CATEGORY

In [443]:
ds_jobs_transformed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1694 entries, 12 to 19143
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              1694 non-null   int32
 1   city                    1694 non-null   object
 2   city_development_index  1694 non-null   float16
 3   gender                  1694 non-null   category
 4   relevant_experience     1694 non-null   bool
 5   enrolled_university     1694 non-null   object
 6   education_level         1694 non-null   object
 7   major_discipline        1694 non-null   category
 8   experience              1694 non-null   object
 9   company_size            1694 non-null   object
 10  company_type            1694 non-null   category
 11  last_new_job            1694 non-null   object
 12  training_hours          1694 non-null   int32
 13  job_change              1694 non-null   bool
dtypes: bool(2), category(3), float16(1), int32(2), object(6)
memory usage: 118.0+ KB

In [444]:
def cat_order(df, col):
    df[col] = df[col].astype('category')
    df[col] = df[col].cat.as_ordered()
    return print('the series has been transformed into ORDERED CATEGORY')

In [445]:
i_cat_order = ['enrolled_university', 'city', 'education_level', 'experience', 'company_size','last_new_job']

In [446]:
for i in i_cat_order:
    cat_order(ds_jobs_transformed, i)

the series has been transformed into ORDERED CATEGORY
the series has been transformed into ORDERED CATEGORY
the series has been transformed into ORDERED CATEGORY
the series has been transformed into ORDERED CATEGORY
the series has been transformed into ORDERED CATEGORY
the series has been transformed into ORDERED CATEGORY

In [447]:
ds_jobs_transformed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1694 entries, 12 to 19143
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              1694 non-null   int32
 1   city                    1694 non-null   category
 2   city_development_index  1694 non-null   float16
 3   gender                  1694 non-null   category
 4   relevant_experience     1694 non-null   bool
 5   enrolled_university     1694 non-null   category
 6   education_level         1694 non-null   category
 7   major_discipline        1694 non-null   category
 8   experience              1694 non-null   category
 9   company_size            1694 non-null   category
 10  company_type            1694 non-null   category
 11  last_new_job            1694 non-null   category
 12  training_hours          1694 non-null   int32
 13  job_change              1694 non-null   bool
dtypes: bool(2), category(9), float16(1), int32(2)
memory usage: 52.1 KB